@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Nunito Sans", sans-serif; }

.navbar {
  background-color: transparent; }

.nav-link {
  position: relative;
  font-size: 18px;
  letter-spacing: 0.5px; }

.nav-link:after {
  content: "";
  position: absolute;
  background-color: #bfbd31;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0px; }

.nav-link:hover:after {
  width: 100%;
  transition: 0.3s; }

.logIn,
.btn__container {
  background-color: #bfbd31;
  border-radius: 10px;
  color: #121c20;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.logIn:hover {
  background-color: #121c20;
  color: #bfbd31; }

.inicio {
  padding: 0;
  margin: 0;
  height: 90vh;
  width: 100vw;
  background-image: url("../img/image-2.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative; }

.img-1 {
  position: relative; }

svg {
  height: 300px;
  width: 0; }

.video-inicio {
  clip-path: url(#text-path);
  width: 50%;
  position: absolute;
  height: 100%;
  top: 30%;
  left: 20%; }

video {
  width: 70vw; }

.container-1 {
  margin-top: -80px;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.1);
  height: 80px;
  color: #ffff; }

.iconos-secciones {
  width: 40px;
  height: 40px;
  margin-right: 5px; }

.texto-secciones {
  font-size: 14px; }

.boxes-1 {
  display: inline-flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer; }

.texto-secciones h3 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.02em; }

.container-1::after {
  content: "";
  position: absolute;
  background-color: #bfbd31;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0px; }

.container-1:hover:after {
  width: 100%;
  transition: 0.3s; }

.container-2 {
  width: 100%;
  background-color: #131c21;
  color: #eff2f0; }

.titulo-3 {
  padding-top: 50px;
  margin-bottom: 3em; }

.titulo-3 h2 {
  font-size: 3em; }

.titulo-3 p {
  font-size: 14px;
  margin-bottom: 3em; }

.container-4 {
  height: max-content; }

.container-4 p {
  padding: 0 20px 0 20px; }

.title-4 h2 {
  padding-top: 100px;
  font-size: 3em;
  text-align: center;
  color: #eff2f0;
  position: relative; }

.title-4 h2::after {
  content: "";
  position: absolute;
  background-color: #bfbd31;
  height: 3px;
  width: 30%;
  left: 40%;
  bottom: 0px; }

.icono-4 {
  color: #bfbd31;
  background-color: #121c20;
  padding: 40px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  margin-bottom: 15px; }

.icono-4:hover {
  color: #121c20;
  background-color: #bfbd31; }

.table-4 {
  margin-top: 40px;
  margin-bottom: 40px; }

.container-5 {
  background-color: #131c21; }

.container-6 {
  position: relative; }

.column-1 {
  position: absolute;
  padding: 10px;
  left: 10%;
  top: 50%; }

.column-2 {
  position: absolute;
  padding: 10px;
  top: 300px;
  left: 150px; }

.image__container {
  display: grid;
  gap: 20px;
  height: 100vh;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(4, 150px);
  align-content: center;
  justify-content: center;
  overflow: hidden; }

.image-one {
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 4; }

.image-two {
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 3; }

.image-three {
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 4 / 5; }

.image-four {
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 3 / 5; }

.text__container {
  color: #eff2f0; }

.text__container h2 {
  margin-bottom: 50px;
  font-size: 2.5em;
  position: relative;
  padding: 10px; }

.text__container h2::after {
  content: "";
  position: absolute;
  background-color: #bfbd31;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px; }

.text__container h2:hover::after {
  content: "";
  position: absolute;
  background-color: #bfbd31;
  height: 3px;
  width: 80%;
  left: 0;
  bottom: -10px;
  transition: 0.3s ease-in-out; }

.text__container p {
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-right: 10px;
  padding: 10px; }

.btn__container {
  margin: 5px 0 50px 10px; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; }

.card-1 img {
  width: 200px; }

.photo {
  background-color: #10191e;
  color: #eff2f0;
  height: 600px; }

.photo h3 {
  margin-bottom: 50px;
  padding-top: 30px;
  font-size: 2.5em;
  position: relative;
  text-align: center; }

.photo h3::after {
  content: "";
  position: absolute;
  background-color: #bfbd31;
  height: 3px;
  width: 30%;
  left: 40%;
  bottom: -10px; }

.photo img {
  width: 100%; }

.blog {
  background-color: #10191e;
  color: #eff2f0; }

.blog-1 {
  align-items: center; }

.blog h3 {
  padding-top: 115px;
  text-align: center;
  font-size: 2.5em; }

.blog p {
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.06em;
  padding: 0 2em;
  text-justify: distribute;
  margin-left: 70px; }

.blog button {
  margin-top: 30px;
  background-color: #bfbd31;
  border-radius: 10px;
  color: #eff2f0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  font-weight: 400;
  font-size: 18px;
  margin-left: 105px; }

.quot {
  width: 50px;
  margin: 102px 102px 40px 102px; }

.blog-1-video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px; }

.blog-1-video video {
  width: 70%; }

.footer {
  background-image: url("/img/pexels-jenny-uhling-4017166.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #eff2f0; }

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.rowPrimary {
  color: #eff2f0;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: stretch; }

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
  padding: 16px; }

.column h3 {
  width: 100%;
  text-align: left;
  color: #eff2f0;
  font-size: 1.6em;
  white-space: nowrap; }

.column ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0; }

.column li:not(:first-child) {
  margin-top: 0.8em; }

ul li a {
  color: #eff2f0;
  text-decoration: none; }

.about p {
  text-align: justify;
  line-height: 2;
  margin: 0; }

ul li a:hover {
  color: #bfbd31; }

.subscribe {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  border: none; }

.subscribe button {
  background-color: #bfbd31;
  color: #eff2f0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
  color: #bfbd31; }

.social i:hover {
  color: #eff2f0; }

.rowSecondary {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative; }

.rowSecondary i {
  font-size: 1.8em;
  color: #bfbd31; }

.rowSecondary div {
  padding: 1em 0;
  width: 100%; }

.rowSecondary div:hover {
  background-color: #25262e; }

.copyright {
  padding: 0.3em 1em;
  background-color: #25262e; }

.copyright p {
  font-size: 0.9em;
  text-align: center; }

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0; }
  ul .booking-card {
    position: relative;
    width: 300px;
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #121c20;
    transition: 0.3s; }
    ul .booking-card::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(10, 72, 112, 0);
      transition: 0.3s; }
    ul .booking-card .book-container {
      height: 200px; }
      ul .booking-card .book-container .content {
        position: relative;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        transform: translateY(-200px);
        transition: 0.3s; }
        ul .booking-card .book-container .content .btn {
          border: 3px solid white;
          padding: 10px 15px;
          background: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.3em;
          color: white;
          cursor: pointer;
          transition: 0.3s; }
          ul .booking-card .book-container .content .btn:hover {
            background: white;
            border: 0px solid white;
            color: #121c20; }
    ul .booking-card .informations-container {
      flex: 1 0 auto;
      padding: 20px;
      background: #f0f0f0;
      transform: translateY(206px);
      transition: 0.3s; }
      ul .booking-card .informations-container .title {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.2em; }
        ul .booking-card .informations-container .title::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          width: 50px;
          margin: auto;
          background: #121c20; }
      ul .booking-card .informations-container .price {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px; }
        ul .booking-card .informations-container .price .icon {
          margin-right: 10px; }
      ul .booking-card .informations-container .more-information {
        opacity: 0;
        transition: 0.3s; }
        ul .booking-card .informations-container .more-information .info-and-date-container {
          display: flex; }
          ul .booking-card .informations-container .more-information .info-and-date-container .box {
            flex: 1 0;
            padding: 15px;
            margin-top: 20px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            background: white;
            font-weight: bold;
            font-size: 0.9em; }
            ul .booking-card .informations-container .more-information .info-and-date-container .box .icon {
              margin-bottom: 5px; }
            ul .booking-card .informations-container .more-information .info-and-date-container .box.info {
              color: #bfbd31;
              margin-right: 10px; }
        ul .booking-card .informations-container .more-information .disclaimer {
          margin-top: 20px;
          font-size: 0.8em;
          color: #7d7d7d; }
    ul .booking-card:hover::before {
      background: rgba(10, 72, 112, 0.6); }
    ul .booking-card:hover .book-container .content {
      opacity: 1;
      transform: translateY(0px); }
    ul .booking-card:hover .informations-container {
      transform: translateY(0px); }
      ul .booking-card:hover .informations-container .more-information {
        opacity: 1; }

@media (min-width: 778px) and (max-width: 991px) {
  .container-1 {
    margin-top: -160px;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.1);
    height: 160px;
    color: #ffff; }
  .container-2 {
    padding-top: 30px; }
  .video-inicio {
    display: none; } }

@media (max-width: 768px) {
  ul .booking-card::before {
    background: rgba(10, 72, 112, 0.6); }
  ul .booking-card .book-container .content {
    opacity: 1;
    transform: translateY(0px); }
  ul .booking-card .informations-container {
    transform: translateY(0px); }
    ul .booking-card .informations-container .more-information {
      opacity: 1; } }

@media screen and (max-width: 850px) {
  .rowPrimary {
    grid-template-columns: 1fr; }
  .rowSecondary {
    flex-direction: column; } }

@media (min-width: 1023px) and (max-width: 1439.9px) {
  .video-inicio {
    left: 10%; }
  .video-inicio video {
    width: 90vw; }
  .inicio {
    height: 80vh; } }

@media (min-width: 1023px) and (max-width: 1439.9px) and (min-width: 1440px) {
  .video-inicio {
    left: 18%; }
  .inicio {
    height: 60vh; } }
